* { 
    box-sizing: border-box;
}
/*Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
 .mySlides {
    display: none;
 }

 /*Next and previous buttons*/
 .prev,
 .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color:azure;
    font-weight: bold;
    font-size: medium;
    transition: 0.6s ease;
    border-radius: 0 3px 3px;
    user-select: none;
 
}

/*Positioning the next button*/
.next {
    right:0;
    border-radius: 3px 0 0 3px;;
}

/*adding a colour for button background*/
.prev:hover,
.next:hover {
    background-color: black;
}

/*Caption text*/
.text {
    color: bisque;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numbertext {
    color: bisque;
    font-size: 10px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(147, 181, 185);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6 ease;
}
.active,
.dot:hover {
    background-color: rgb(132, 145, 156);
}

/*Fading animation*/
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}